{#
Comment
#}

{% for comment in post.getGroupComments|sort %}
<div class="comment">
		{% if comment.getAuthor.getId != currentUserId %}
    		<div class="profileImageDiv small" title="Uđi u inbox!" onclick="enterInbox({{ comment.getAuthor.getId }})"></div>
		{% else %}	
			<div class="profileImageDiv small"></div>
		{% endif %}
		<div id="text"  class="color_QuizyBlue post">
			<div class="label upper">
				<div id="username"> {{ comment.getAuthor.getUsername }} </div>
				<div id="dateTime"> {{ comment.getCreated|date('d. M Y. H:i') }} </div>
			</div>
			{{ comment.getText }}
		</div>
</div>
{% endfor %}