{# to-do: add variables #}

<div id="leftMenuBar">

	<div id="groupsMenu">
		<div class="title">Grupe</div>
			{#
			Dugme za grupu
			ako nema novih obavijesti, div id "newPosts" se ne treba kreirat
			"groupButton"treba dodati background-image;
			#}
			<div class = "groupButton">
				<div id="newPosts" class="color_Pomegranate">55</div>
			</div>
	</div>



	<div id="chatsMenu">
		<div class="title">Razgovori</div>
			{#
			Dugme za chat
			takoder ako nema novih obavijesti, div "unreadMessages" se ne kreira
			"profileImageDiv"treba dodati background-image;
			"profileImageDivStatus" oznacava off/on status, boje su color_Nephritis i color_Pomegranate
			#}
			<div class = "chatButton">
				<div id="profileImageDiv">
					<div id="profileImageDivStatus" class="color_Nephritis"></div>
				</div>
				<span>Luka Kgfdne</span>
				<div id="unreadMessages" class="color_Pomegranate">55</div>
			</div>
	</div>

</div>