{# to-do: add variables #}

<div id="leftMenuBar">

	<div id="groupsMenu">
		<div class="title">Grupe</div>
			
			{#
			Dugme za grupu
			ako nema novih obavijesti, div id "newPosts" se ne treba kreirat
			"groupButton"treba dodati background-image;
			#}

			{% for group in groups %}
			<div class = "groupButton" id = "group_{{ group.getUserGroup.getId }}" onmouseover="showGroupName('{{ group.getUserGroup.getName }}', {{ group.getUserGroup.getId }})" onmouseleave="hideGroupName()">
				{% if group.getUserGroup.getNotificationNumber > 0 %}
					<div id="newPosts" class="color_Pomegranate">{{ group.getUserGroup.getNotificationNumber }}</div>
				{% endif %}
			</div>
			{% endfor %}
	</div>



	<div id="chatsMenu">
		{#
		Label s imenom grupe koji se pokazuje kad se hovera na grupu
		#}
		<div id="groupName" style="display:none;"></div>

		<div class="title">Razgovori</div>
			{#
			Dugme za chat
			takoder ako nema novih obavijesti, div "unreadMessages" se ne kreira
			"profileImageDiv"treba dodati background-image;
			"profileImageDivStatus" oznacava off/on status, boje su color_Nephritis i color_Pomegranate
			#}
			<div class = "chatButton">
				<div id="profileImageDiv">
					<div id="profileImageDivStatus" class="color_Nephritis"></div>
				</div>
				<span>Luka Kgfdne</span>
				<div id="unreadMessages" class="color_Pomegranate">55</div>
			</div>
	</div>

</div>