{#
Message
#}

{% for message in messages %}
<div class="comment">
		<div id="profileImageDiv"></div>
		{{ message.getAuthorUsername }}
		<br>
		{{ message.getText }}
		{% if message.getSeen == 1 and loop.last %}
		<br>
		(seen)
		{% endif %}
</div>
<br>
{% endfor %}