{#
Forma za novi post
#}

<div id="sendMessage">
	<input type="text" id="messageInput" name="comment" placeholder="Napišite poruku...">
	<input type="button" value="&#xf101;" class="color_QuizyBlue" onclick="sendMessage({{ inboxId }})">
</div>