{#
Forma za novi post
#}

{% if groupId is not null and groupId is defined %}
	
<form id="newPostForm" method="POST" action="{{ path('add_post') }}">
    <input type="hidden" name="groupId" value="{{ groupId }}">
	<div id="top">
		<input type="file" name="image" id="image" class="inputfile">
		<label for="image"><span><i class="fa fa-file-image-o"></i>&nbsp;&nbsp;Odaberite sliku</span></label>
		
        <input type="file" name="file" id="file" class="inputfile">
		<label for="file"><span><i class="fa fa-upload"></i>&nbsp;&nbsp;Odaberite datoteku</span></label>
	</div>
	<div id="middle">
		<div id="left">
            <div class="profileImageDiv"></div>
		</div>
        <input type="text" name="content" placeholder="Napišite objavu...">
	</div>
	<input type="submit" value="objavi" id="bottom">
</form>

{% endif %}