{#
Notifikacija
"center" i "bottom" oboje trebaju voditi na isti link
"right" zatvara obavijest
#}

{# to-do: add variables #}

<div class="notification">
	<div id="top">
		<div id="left">ime grupe</div>
		<div id="right">&#xf00d;</div>
	</div>
	<div id="center">
		<h3>naslov obavijesti</h3>
		<p>tekst obavijesti</p>
	</div>
	<div id="bottom" class="color_Wisteria">Otvori grupu</div>
</div>