{#
Notifikacija
"center" i "bottom" oboje trebaju voditi na isti link
"right" zatvara obavijest
#}

{% for notification in notifications %}
<div class="notification">
	<div id="top">
		<div id="left">{{ notification.getUserGroup.getName }}</div>
		<div id="right">&#xf00d;</div>
	</div>
	<span onclick="selectGroup({{ notification.getUserGroup.getId }})">
		<div id="center">
			<h3>{{ notification.getTitle }}</h3>
			<p>{{ notification.getText }}</p>
		</div>
		<div id="bottom" class="color_Wisteria">Otvori grupu</div>
	</span>
</div>
{% endfor %}