{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/styles.css') }}">
{% endblock %}

{% block body %}
<h1 class="exampleStyle">This is a homepage</h1>
<div class="exampleStyle2">Currently logged in: {{ user_name }}</div>
{% endblock %}