{% extends 'user/user.html.twig' %}

{% block body_class %}body_dashboard{% endblock %}

{% block body %}

{# Include header element #}
{% include 'user/elements/header.html.twig' %}

<div class="dashboard">

	{# Include left menu bar element #}
	{% include 'user/elements/menu.html.twig' %}

	<div class="notificationCenter" id="notificationContainer">

		{% include 'user/elements/notification.html.twig' %}

	</div>
			

	<div id="content">

		{% include 'user/elements/post.html.twig' %}

	</div>
			
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('build/js/liveUpdater.js') }}"></script>
<script src="{{ asset('build/js/groupSelect.js') }}"></script>
{% endblock %}